<p> Welcome, <%= current_user.username %>
<h2> Current Objectives </h2>

<% @objectives.each do |objective| %>
<div>
  <%= objective.name %>
  <%= objective.idea %>
  <%= objective.content %>
</div>
<% end %>

<a href="/objectives/<%=@objective.id%>/new">Edit Objective </a>